<%- include("./partials/header") %>

<div class="container" >
    <div id="error" style="

    background-color: silver;
    padding : 50px;
    width : 60%;
    height : 300px;
    box-sizing: border-box;
    font-weight: 800;
    text-align: center;
    font-size: x-large;
    margin : 10% 20% 2% 20%"

 >
    <%= locals.error.message %>
</div>
</div>
<%- include("./partials/footer")  %>
</body>
</html>